@model InfoBook

@{
    ViewData["Title"] = "Create";
}

<h1>Add new information about book</h1>

<form method="post">
	<div class"mb-3">
		<label>Book</label>
		<select asp-for="BookID" asp-items="@ViewBag.Books">
			<option>Choose book</option>
		</select>
		<span asp-validation-for="BookID"></span>
		
	</div>
	<div class"mb-3">
		<label>Ticket</label>
		<select asp-for="TicketID" asp-items="@ViewBag.Tickets">
			<option>Choose ticket</option>
		</select>
		<span asp-validation-for="TicketID"></span>

	</div>
	<div class"mb-3">
		<label>Date take book</label>
		<input asp-for="DateTakeBook" />
		<span asp-validation-for="DateTakeBook"></span>
	</div>
	<div class"mb-3">
		<label>Date return book</label>
		<input asp-for="DateReturnBook" />
	</div>
	<button type="submit">Add new information about book</button>
	<button><a asp-controller="InfoBook" asp-action="Index">View all information about books</a></button>

</form>